<footer>
    flecha hacia arriba
  <nav>
    <ul class="nav_menu">
      <li class=""><a href="https://adalab.es." class=""></a>Zapatillas</li>
      <li class=""><a href="https://adalab.es." class=""></a>Ropa</li>
      <li class=""><a href="https://adalab.es." class=""></a>Nino/a</li>
      <li class=""><a href="https://adalab.es." class=""></a>Destacados</li>
      <li class=""><a href="https://adalab.es." class=""></a>Tips</li>
  </ul>
  <ul>
    <li class=""><a href="https://adalab.es." class=""></a>Twitter</li>
    <li class=""><a href="https://adalab.es." class=""></a>Instagram</li>
    <li class=""><a href="https://adalab.es." class=""></a>Youtube</li>
  </ul>
  </nav>
  <span>&copy;2023</span>
  <span>we (falta corazon) run</span>
  </footer>