<footer class="footer">
    <nav class="footer__nav1">
      <a href="./index.html#header"><img class="footer__nav-up" src="../assets/images/ico-arrow.svg" alt="btn up"/></a>
    </nav>  
  
    <nav class="footer__nav2">
      <ul class="footer__nav2-menu1">
        <li><a class="footer__nav2-menu1-a1" href="https://adalab.es">Zapatillas</a></li>
        <li><a class="footer__nav2-menu1-a1" href="https://adalab.es">Ropa</a></li>
        <li><a class="footer__nav2-menu1-a1" href="https://adalab.es">Nino/a</a></li>
        <li><a class="footer__nav2-menu1-a1" href="https://adalab.es">Destacados</a></li>
        <li><a class="footer__nav2-menu1-a1" href="https://adalab.es">Tips</a></li>
      </ul>
  
      <ul class="footer__nav2-menu2">
  
        <li><a class="footer__nav2-menu2-a2" href="https://adalab.es">Twitter</a></li>
        <li><a class="footer__nav2-menu2-a2" href="https://adalab.es">Instagram</a></li>
        <li><a class="footer__nav2-menu2-a2" href="https://adalab.es">Youtube</a></li>
      </ul>
    </nav>
    <span class="footer__copy">&copy;2023</span>
    <span class="footer__love">
      <span class="footer__love-1">we</span>
      <span class="footer__love-2">❤︎</span>
      <span class="footer__love-3">run</span>
    </span>
    
    </footer>
  