<footer class="footer">
    <nav class="footer__nav1">
      <a href="./index.html#header"><img class="footer__nav-up" src="../assets/images/ico-arrow.svg" alt="btn up"></a>
    </nav>  
  
    <nav class="footer__nav2">
  
      <ul class="footer__nav2-menu1">
  
        <li class=""><a href="https://adalab.es."></a>Zapatillas</li>
        <li><a class="" href="https://adalab.es."></a>Ropa</li>
        <li><a class="" href="https://adalab.es."></a>Nino/a</li>
        <li><a class="" href="https://adalab.es."></a>Destacados</li>
        <li><a class="" href="https://adalab.es."></a>Tips</li>
      </ul>
  
      <ul class="footer__nav2-menu2">
  
        <li><a class="" href="https://adalab.es."></a>Twitter</li>
        <li><a class="" href="https://adalab.es."></a>Instagram</li>
        <li><a class="" href="https://adalab.es."></a>Youtube</li>
      </ul>
    </nav>
    <span class="footer__copy">&copy;2023</span>
    <span class="footer__love">
      <span class="footer__love-1">we</span>
      <span class="footer__love-2">❤︎</span>
      <span class="footer__love-3">run</span>
    </span>
    
    </footer>
  