<header class="header">
  <nav class="header_nav1">
    <a href="https://adalab.es"><img class="header_nav1-menu" src="../assets/images/ico-menu.svg" alt="ico-menu"
        /></a>
</nav>

  <div class="header_div">
    <h1 class="header_div-h1">comienzos compartidos</h1>
    <p class="header_div-p">Todo lo que necesitan para volver al cole con ilusión</p>
  </div>
  <nav class="header_nav2">
    <a href=""><img class="header_nav2-down" src="../assets/images/ico-scroll-down.svg" alt="btn down"></a>
  </nav>
</header>
