<section>
    <span>
        ¡Prepáralos con tus marcas favoritas!
    </span>
    <h3>Vuelta al cole</h3>
    <div class="img">
    <!--<img class="img_1" src="../assets/images/1.png" alt="Mochilas escolares">-->
    <p>Mochilas escolares</p>
    <img class="img_2" src="../assets/images/2.png" alt="Estuches">
    <p>Estuches</p>
    <img class="img_3" src="../assets/images/3.png" alt="Bolsas de deporte">
    <p>Bolsas de deporte</p>
    </div>
    <a href="https://adalab.es" class="start">Empezar ahora</a>
</section>