<section class="section2">
    <span class="section2__span">¡Prepáralos con tus marcas favoritas!</span>
    <h3 class="section2__h3">Vuelta al cole</h3>
    <div class="section2__div">
        <img class="section2__div-img1" src="../assets/images/1.png" alt="Mochilas escolares"> 
        <p class="section2__div-p">Mochilas escolares</p>
        <img class="section2__div-img2" src="../assets/images/2.png" alt="Estuches">
        <p class="section2__div-p">Estuches</p>
        <img class="section2__div-img3" src="../assets/images/3.png" alt="Bolsas de deporte">
        <p class="section2__div-p">Bolsas de deporte</p>
    </div>
    <a href="https://adalab.es" class="section2__start">Empezar ahora</a>
</section>