<section class="section1">
        <span class="section1__span">historias, moda, y ropa deportiva</span>
        <h3 class="section1__h3">tu tienda de deporte</h3>
        <article class="section1__article"> El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</article>
        <nav class="section1__nav">
                <a class="section1__nav-buy" href="https://adalab.es">Comprar</a>
        </nav>
</section>
