.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $greyish-brown;
  width: 320px;
  height: 433px;
  @media (min-width: 768px) {
    width: 768px;
    height: 240px;
    /*flex-direction: row-reverse;*/
  }

  @media (min-width: 1280px) {
    width: 1280px;
    height: 240px;
    padding: 59px 246px 31px 202px;
  }

  &__nav1 {
    display: flex;
    background-color: $white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      top: -100px;
      right: 375px;
    }
    &-up {
      width: 20px;
      height: 24px;
    }
  }

  &__nav2 {
    font-family: $roboto;
    font-size: 1.6rem;
    line-height: 1.88;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    &-menu1 {
      list-style: none;
      margin: 0 96.6px 27.9px 97.7px;
      line-height: 1.88;
      &-a1 {
        text-decoration: none;
        color: $white;
      }
    }
    &-menu2 {
      list-style: none;
      margin: 27.9px 102.8px 29.8px 102.8px;
      line-height: 1.88;
      &-a2 {
        text-decoration: none;
        color: $white;
      }
    }
  }
  &__copy {
    display: flex;
    color: $white;
    margin: 29.8px 110px 0px 109px;
    font-size: 1.4rem;
    font-family: $roboto;
    @media (min-width: 768px) {
      font-size: 1.4rem;
      flex-direction: column;
      margin: 100px 40px 0 0;
      width: 768px;
      height: 240px;
    }
  }
  &__love {
    width: 298.2px;
    height: 29.8px;
    display: flex;
    font-family: $roboto;
    font-size: 1.4rem;
    color: $white;
    line-height: 2.14;
    text-align: center;
    justify-content: center;
    @media (min-width: 768px) {
      font-size: 1.4rem;
      width: 159px;
      height: 30px;
      margin: 0 0 50px 50px;
    }

    &-2 {
      color: $moss-green;
      /*padding: 0 5px 0 5px;*/
    }
  }
}
