.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 85%;
    background-repeat: no-repeat;
    position: sticky;
    color: $white;

    &__nav1-menu{
        background-color: $moss-green;
        padding: 10px;
        width: 36.4px;
        height: 36.8px;
        position: fixed;
    	top: 0;
    }
    &__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        &-h1{
        font-family: $robotoslab;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 1.67;
        margin-top: 420px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        @media (min-width:768px){
            font-size: 7.5rem;
            font-weight: bold;
            line-height: 1.33;
            margin-top: 580px;
        }
        }
        &-p{
            font-size: 1.6rem;
            font-family: $roboto;
            line-height: 1.19;
            margin: 51px 38px 34px 34px;
            @media (min-width:768px){
                font-size: 2.4rem;
                margin: 50px 183.1px 0 165.2px;
            }
        }
    }
    &__nav2{
        background-color: $white;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center; 
        justify-content: space-around; 
        position: relative;
        top: 10%;
        left:45%;
        @media (min-width:768px){
            margin: 0 50px 0 50px;
        }
    }
}
