.section1{
    width: 320px;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: auto;      
    height: auto; 
    @media (min-width:768px){
        width: 768px;
        height: 333px;}
    @media (min-width: 1280px){
        width: 1280px;
        height: 330px;
        
        }
    
    &__span{
        text-transform: uppercase;
        font-family: $roboto;
        font-size: 1.4rem;
        color: $moss-green;
        text-align: left;
        width: 260px;
        height: 30px;
        line-height: 2;
        margin-top: 30px;
        margin-left: 13px;
        @media (min-width: 768px){
            font-size: 1.6rem;
            line-height: 1.88;
            width: 333px;
            margin-left: 37px;
        }
        @media (min-width: 1280px){
                margin-left: 170px;
        }
        }
        
    &__h3{
        margin-left: 13px;
        text-transform: uppercase;
        font-family: $robotoslab;
        font-size: 2.2rem;
        line-height: 1.36;
        width: 290px;
        height: 30px;
        text-align: left;
        @media (min-width: 768px){
            width: 691.8px;
            height: 45.4px;
            font-size: 3.2rem;
            font-weight: bold;
            line-height: 1.41;
            margin-left: 37px;
        }
        @media (min-width: 1280px){
            width: 1110.5px;
            height: 45px;
            margin-left: 170px;
        }
    }
    
    &__article{
        width: 290px;
        height: 181px;
        font-size: 1.8rem;
        font-family: $roboto;
        color: $greyish-brown;
        text-align: left;
        margin: 10px 0 42px;
        margin-left: 13px;
        line-height: 1.67;
        @media (min-width: 768px){
            width: 691.8px;
            height: 90.8px;
            font-size: 2rem;
            line-height: 1.5;
            margin-left: 37px;
        }
        @media (min-width: 1280px){
            width: 942px;
            height: 60px;
            margin-left: 170px;
        }
    }
    
    &__nav{
        width: 160px;
        height: 45px;
        border: solid 2px $moss-green;
        border-radius: 22.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 15px;
        @media (min-width: 768px){
            margin-left: 37px;
        }
        @media (min-width: 1280px) {
            width: 159.9px;
            height: 45px;
            margin: 0 244px 10px 172.8px;
        }
        
        &-buy{
            width: 137px;
            height: 45px;
            text-decoration: none;
            font-size: 2rem;
            font-family: $roboto;
            line-height: 2.25;
            color: $moss-green;
            font-weight: 500;  
            margin-left: 50px;   
              
        }
   }
}

